/* Styles for App component */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(145deg, #3B1E54, #9B7EBD);
}

.glass-card {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #3B1E54;
  text-align: center;
}

.glass-card h1 {
  font-size: 2em;
  color: #D4BEE4;
}

.glass-card p {
  color: #EEEEEE;
}
